<template>
    <div class="testimonials marginTop50px marginBottom30px">
        <p>"Good morning Elisha,</p>
        <p>I heard the Lord this morning, when i was still in bed, telling me that His secrets have been unlocked on Google. I got concerned as to how someone could surely have the secret of the Lord and I told Him that His word says His secret is with His people, so who could have His secret on the net on GOOGLE?</p>
        <p>As I was praying concerning this, my friend walked into the house and I told her all about what God has said and she told me that there is a website that has unlocked the secret of the Lord. </p>
        <p>Indeed, I am here talking to you by divine intervention and I am looking forward to knowing the secrets here and walking in their reality."</p>
        <p><b>- Sophia, Australia</b></p>
    </div>
</template>

<script>
    export default {
        name: "page_4"
    }
</script>

<style lang="scss" scoped>
    .testimonials{
        border: 1px solid #000;
        padding: 15px;
        font-style: italic;
    }
</style>