<template>
    <div>
        <div class="card red darken-1 marginBottom50px marginTop50px">
            <div class="card-content white-text">
                <span class="card-title"><i class="material-icons">warning</i> Disclaimer</span>
                <p> Please note that the testimonials and praise reports on this website are <span class="not">NOT</span> typical. <br> You may or may not get any results from using the principles taught here. In other words, this may not work for you at all. On the other hand, this has worked for Lilian and thousands just like you. <br><b>Who's to say it will not work for you?</b> May the Lord richly bless you.</p>
            </div>
            <div class="card-action white-text">
                <p>- elisha</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "page_6",
    }
</script>

<style lang="scss" scoped>
    .card{
        text-align: center;
        /*.card-content{*/
            /*padding-bottom: 0;*/
        /*}*/
        .card-action{
            padding-top: 0;
        }
    }
    .not{
        text-decoration: underline;
    }
</style>