<template>
    <div class="terms">
        <div class="row">
            <h3>{{term_title}}</h3>
            <br>
            <div class="col s4" v-for="term in terms">
                <a :href="term.link" v-text="term.title"></a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "page_9",
        data(){
            return{
                terms:[
                    {
                        title: 'Terms of use',
                        link: 'http://www.firesprings.com/toc.htm'
                    },
                    {
                        title: 'Privacy Policy',
                        link: 'http://www.firesprings.com/privacypolicy.htm'
                    },
                    {
                        title: 'Testimonial Disclosure',
                        link: 'http://www.firesprings.com/tdisc.htm'
                    },
                ],
                term_title: 'Please read these terms of use carefully'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .terms{
        text-align: center;
        text-transform: uppercase;

        h3{
            font-size: 20px;
            text-transform: uppercase;
        }

        a{
            text-decoration: underline;
        }
    }
</style>