<template>
    <div class="title-section">
        <h2>{{title}}</h2>
    </div>
</template>

<script>
    export default {
        name: "page_3",
        data(){
            return{
                title: '3 Ways to Receive Answers to your Prayers this very night'
            }
        }
    }
</script>

<style lang="scss" scoped>
    .title-section {
        h2{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            font-size: 40px;
        }
    }
</style>