<template>
	<div class="for_you">
		<ul class="collection with-header">
	        <li class="collection-header"><h4>This is for you if...</h4></li>
	        <li class="collection-item"><i class="material-icons">check</i>You’re are beginning to feel that God is not hearing you because of something in your past that the enemy keeps reminding you of.</li>
	        <li class="collection-item"><i class="material-icons">check</i>You’re tired and frustrated with praying and praying without seeing any answers.</li>
	        <li class="collection-item"><i class="material-icons">check</i>You’re forced to watch others share testimonies day in day out without anything to show for all your prayer and fasting and good works.</li> 
      	</ul>
      	<div class="explain marginTop30px marginBottom30px">
			<h4>Let me explain:</h4>
			<p>Imagine that the Lord Jesus is standing right in front of you this minute.</p>
			<p><b>Like the woman with the issue of blood</b> <i> (Mark 5)</i>... just imagine you can somehow stretch out your right hand and touch the helm of His garment, like she so famously did.</p>
		</div>  
		<ul class="collection with-header marginBottom30px">
	        <li class="collection-header"><h4>In the same way that her touch of faith caused her sickness to disappear …</h4></li>
	        <li class="collection-item"><i class="material-icons">check</i>  If you have any debts weighing you down, they are cancelled miraculously (and you begin to experience the peace of mind that freedom from debt brings).</li>
	        <li class="collection-item"><i class="material-icons">check</i>Your relationships are instantly restored (you begin to spend your days and nights worry-free).</li>
	        <li class="collection-item"><i class="material-icons">check</i>Even dream attacks and nightmares disappear (leaving only the prophetic dreams where you hear the LORD speak loving words to you, giving you step-by-step guidance in every decision of life).</li> 
      	</ul>
      	<div class="card blue darken-1">
	        <div class="card-content white-text">
	          <span class="card-title"><i class="material-icons">event_note</i> Please note this one thing:</span>
	        </div>
	        <div class="card-action white-text">
	           <p>That you can receive answers to your prayers this very night, without having to become a super-anointed prayer eagle. </p>
	        </div>
      	</div>  
	</div>
</template>

<script>
    export default {
        name: "page_5",
    }
</script>

<style lang="scss" scoped>
	.card{
		.card-content{
			padding-bottom: 0;
		}
		.card-action{
			padding-top: 0;
		}
	}

	ul.with-header{

		border: none;

		.collection-header{
			padding: 15px;
			h4{
				padding: 0;
				margin: 0;
				font-size: 20px;
				font-weight: bold;
			}
		}
		li{
			i{
				margin-right: 10px;
			}
		}
	}

	.explain{
		h4{
			font-size: 20px;
		}
	}
</style>