<template>
   <div class="get_a_friend">

       <h2 class="form-header">Get Your <span>PRAYER</span> eBook<br>
           "The 7 Secrets Revealed!"</h2>
       <div class="row">
           <form class="col s12" action="https://formspree.io/youremailhere.com" method="post">
               <div class="input-field col s12">
                   <input id="name" type="text" name="name" class="validate" aria-required="true">
                   <label for="name">Last Name</label>
               </div>
               <div class="input-field col s12">
                   <input id="email" type="email" name="_replyto" class="validate" aria-required="true">
                   <label for="email">Email</label>
               </div>

               <button class="btn waves-effect waves-light red darken-1" type="submit" name="action">YES, Give Me Access Now >>
                   <i class="material-icons right">send</i>
               </button>
           </form>
       </div>
   </div>
</template>


<script>
    export default {
        name: "page_2"
    }
</script>

<style lang="scss">

    .get_a_friend{
        padding: 0 20px;

        .form-header{
            font-size: 18px;
            font-weight: bold;
            color: red;

            span{
                text-decoration: underline;
            }
        }
    }


</style>