<template>
    <div>
        <h2 class="center">Which of these <br> would you like to pray about?</h2>
        <ul class="collection with-header marginBottom30px">
            <li class="collection-header"><h5>Please advise, by clicking on one of the links below …   </h5></li>
            <li class="collection-item"><router-link to="/dreams-pg">"I Want To Stop Dream Attacks" </router-link></li>
            <li class="collection-item"><router-link to="/debtfree-pg"><b>I Need Prayers to Get Out of Debt</b></router-link></li>
            <li class="collection-item"><router-link to="/stopdivorce-pg">Stop Divorce / Restore My Marriage</router-link></li>
            <li class="collection-item"><router-link to="/prayerforgodlyspouse-pg"><b>Prayers for My Godly Spouse to Locate Me</b></router-link></li>
            <li class="collection-item"><router-link to="/prayerforbetterjob-pg">Prayers for New or Better Job</router-link></li>
            <li class="collection-item"><router-link to="/prayerforfinancial-pg"><b>Prayers for Financial Breakthrough</b></router-link></li>
            <li class="collection-item"><router-link to="/healingprayer-pg">I Need Healing Prayers</router-link></li>
            <li class="collection-item"><router-link to="/prayerforsalvation-pg"><b>Prayers for Salvation of Loved Ones</b></router-link></li>
            <li class="collection-item"><router-link to="/prayerforspiritualgrowth-pg">Prayers for Spiritual Growth</router-link></li>
            <li class="collection-item"><router-link to="/thanksgivingpartners-pg"><b>"I Want the 25 Thanksgiving Prayers"</b></router-link></li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "page_8"
    }
</script>

<style lang="scss" scoped>
    h2{
        font-size: 25px;
    }

    ul.with-header{

        border: none;
        text-align: center;

        .collection-header{
            padding: 15px;
            h4{
                padding: 0;
                margin: 0;
                font-size: 20px;
                font-weight: bold;
            }
        }
        li{
            font-style: italic;
            i{
               color: #01579b;
            }
        }
        li.collection-item{
            a {
                color: #0000FF;
            }
        }
    }
</style>