<template>
    <div class="advice_section">
        <p class="before">Before you receive the Prayer Blueprint, <span class="yellow accent-2">I need your advice</span> ...</p>

        <p>There are thousands of prayers on this website.
            Each prayer is targeted at different situations. <br>In order NOT to overwhelm you with too much information, it would be helpful if you'll identify the <br><b>MAJOR challenge that is keeping you awake at night</b>. <br>That way you will receive the prayers most relevant to your needs... without delay.
        </p>
    </div>
</template>

<script>
    export default {
        name: "page_7",
    }
</script>

<style lang="scss" scoped>
    .advice_section{
        border: 1px solid #000;
        padding: 15px;
        font-style: italic;
        text-align: center;
    }
    .before{
        color: #E53935;
        font-size: 20px;
        font-weight: bold;

        span{

        }
    }
</style>