<template>
    <div class="row marginBottom0px">
        <div class="col s12">
            <div class="other-page">
                <h2 class="title paddingTop30px">"I want to stop dream attacks"</h2>
                <h2 class="sub-intro">Exactly How they prayed... <br>
                And the answers they received</h2>

                <Compo10></Compo10>
                <Compo11></Compo11>
                <Compo12></Compo12>

            </div>
        </div>
    </div>

</template>

<script>

    import Compo10 from '@/components/compo_10.vue'
    import Compo11 from '@/components/compo_11.vue'
    import Compo12 from '@/components/compo_12.vue'

    export default {
        name: 'dreams-pg',
        components: {
            Compo10,
            Compo11,
            Compo12
        }
    }
</script>

<style lang="scss" scoped>
    .other-page{
        background: #fff;
        width: 55%;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;

        /*mobile*/
        @media only screen and (min-width: 320px) and (max-width: 479px) {
            width: 90%;
        }

        /*tablet*/
        @media only screen and (min-width: 480px) and (max-width: 767px) {
            width: 90%;
        }

        .title{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            font-size: 30px;
            text-transform: uppercase;
        }
        .sub-intro{
            text-align: center;
            font-weight: bold;
            font-size: 20px;
            text-transform: capitalize;
        }
    }

    /*global style*/
    .marginTop50px{
        margin-top: 50px !important;
    }
    .marginBottom50px{
        margin-bottom: 50px !important;
    }
    .marginTop40px{
        margin-top: 40px;
    }
    .marginBottom40px{
        margin-bottom: 40px;
    }
    .marginTop30px{
        margin-top: 30px !important;
    }
    .marginBottom30px{
        margin-bottom: 30px !important;
    }
    .paddingTop50px{
        padding-top: 50px !important;
    }
    .paddingBottom50px{
        padding-bottom: 50px !important;
    }
    .paddingTop40px{
        padding-top: 40px;
    }
    .paddingBottom40px{
        padding-bottom: 40px;
    }
    .paddingTop30px{
        padding-top: 30px !important;
    }
    .paddingBottom30px{
        padding-bottom: 30px !important;
    }
    .marginBottom0px{
        margin-bottom: 0px;
    }

</style>