<template>

  <div class="row whole-row">
    <div class="col s12 m7 l8">

      <div class="email-section show-on-mobile">
        <img class="banner-taf" src="../assets/img/taf.jpg"/>
        <PageTwoTellAFriend></PageTwoTellAFriend>
      </div>

      <div class="home">
        <img class="banner" src="../assets/img/banner.jpg"/>
        <PageThree></PageThree>
        <PageFour></PageFour>
        <PageFive></PageFive>
        <PageSixDisclaimer></PageSixDisclaimer>
        <PageSeven></PageSeven>
        <PageEight></PageEight>
      </div>
      <div class="terms-section">
        <PageNine></PageNine>
      </div>
    </div>
    <div class="col s12 m5 l4">
      <div class="email-section hide-on-mobile">
        <img class="banner-taf" src="../assets/img/taf.jpg"/>
        <PageTwoTellAFriend></PageTwoTellAFriend>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import PageTwoTellAFriend from '@/components/homepage/page_2.vue'
import PageThree from '@/components/homepage/page_3.vue'
import PageFour from '@/components/homepage/page_4.vue'
import PageFive from '@/components/homepage/page_5.vue'
import PageSixDisclaimer from '@/components/homepage/page_6.vue'
import PageSeven from '@/components/homepage/page_7.vue'
import PageEight from '@/components/homepage/page_8.vue'
import PageNine from '@/components/homepage/page_9.vue'

export default {
  name: 'home',
  components: {
    // HelloWorld
      PageTwoTellAFriend,
      PageThree,
      PageFour,
      PageFive,
      PageSixDisclaimer,
      PageSeven,
      PageEight,
      PageNine
  }
}
</script>

<style lang="scss">
  .home{
    background: #fff;
    /*width: 85%;*/
    /*float: right;*/
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    padding-top: 20px;

    /*!*mobile*!*/
    /*@media only screen and (min-width: 320px) and (max-width: 479px) {*/
      /*width: 100%;*/
    /*}*/
    /*!*tablet*!*/
    /*@media only screen and (min-width: 480px) and (max-width: 768px) {*/
      /*width: 100%;*/
    /*}*/

    img.banner{
      width: 100%;
    }
  }
  .terms-section{
    background: #fff;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;

    /*mobile*/
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      width: 100%;
    }
    /*tablet*/
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      width: 100%;
    }
  }
  .whole-row{
    background: #333;
    margin-bottom: 0 !important;
    padding-bottom: 20px;
    padding-left: 90px;
    padding-right: 90px;

    @media only screen and (min-width: 320px) and (max-width: 479px) {
      padding-left: 10px;
      padding-right: 10px;
    }
    /*tablet*/
    @media only screen and (min-width: 480px) and (max-width: 768px) {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  .banner-taf{
    width: 250px;

    @media only screen and (min-width: 320px) and (max-width: 479px) {
      width: 100%;
    }

  }
  .email-section{
    margin-top: 20px;
    padding-top: 20px;
    background: #fff;
    text-align: center;
    padding-bottom: 20px
  }

  /*global style*/
  .marginTop50px{
    margin-top: 50px !important;
  }
  .marginBottom50px{
    margin-bottom: 50px !important;
  }
  .marginTop40px{
    margin-top: 40px;
  }
  .marginBottom40px{
    margin-bottom: 40px;
  }
  .marginTop30px{
    margin-top: 30px !important;
  }
  .marginBottom30px{
    margin-bottom: 30px !important;
  }

  /*media queriey display*/
  .show-on-mobile{
    display: none;
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      display: block;
    }
  }
  .hide-on-mobile{
    display: block;
    @media only screen and (min-width: 320px) and (max-width: 479px) {
      display: none;
    }
  }


</style>
