<template>
    <div class="testimonials-section">
        <div class="testimonials-1">
            <p>20 Years of Barrenness Melted Away</p>

            <p>I am shouting this praise report here because it is true and has finally happened in my life. I had a dreadful challenge of childlessness for 20 years running and it is in this Forum that God used the coach and his numerous instructions in prayer to solve this problem. My wife gave birth to a set of twins, a boy and a girl on the 6th of January, 2017.</p>
            <p>I remember the answer came during the Platinum Edition where we were instructed to convert the set of prayer bullets given to us and pray it in our native language. That turned the whole tide for me. I am so grateful to God and Father of our Lord Jesus Christ. Let the peoples praise you. O God let all the people praise you...  (Psalm 67:5) </p>

            <p>- Emmanuel</p>
        </div>

        <div class="testimonials-2">
            <p>Praise the Lord!!!<br>
                Jesus raised a dead infant!</p>

            <p>I got introduced to you last year and I joined Prayer Academy this year. I can testify that God has really changed my life and my trust and faith in Him has been elevated through the lessons and prayers I have learnt from you. I am currently doing missionary work with my sister in an island in the Northern Territory of Australia. I praise the Holy Spirit of God, on Monday evening, a man in this indigenous community came and cried for help at the gate of our home. We let him come in and we realised that he had tormented himself by hitting himself with a rock, he was in so much pain and sorrow and he continued to torment himself. He said that he needed help, his granddaughter had just passed away at  his home.</p>
            <p>We took the rock away from him and we shared the word of God with Him. We realised that the peace of God was upon him. We then led him into the repentance and salvation prayer. After that, we prayed for him and we started firing some of the prayer bullets we learnt from you in the Prayer Academy. One of the prayer bullets that I can recall and was firing that night was "Oh, Great Physician by all power in which you are known to be God arise and declare divine healing all over the baby's body. Holy Spirit, flush her system and cleanse her blood with the blood of Jesus".</p>
            <p>We took the rock away from him and we shared the word of God with Him. We realised that the peace of God was upon him. We then led him into the repentance and salvation prayer. After that, we prayed for him and we started firing some of the prayer bullets we learnt from you in the Prayer Academy. One of the prayer bullets that I can recall and was firing that night was "Oh, Great Physician by all power in which you are known to be God arise and declare divine healing all over the baby's body. Holy Spirit, flush her system and cleanse her blood with the blood of Jesus".</p>
            <p><b>They all gave their lives to the Lord and accepted Jesus as their Lord and Savior that night.</b> In this community, God has been working great wonders and miracles, the sick have been totally healed and God raised this dead infant on Monday night. You have trained me to be strong in the Lord. All the honour, majesty and glory be to the name of Jesus. </p>

            <p>- Emosi Bau</p>

        </div>

        <div class="testimonials-3">
            <p>Family Deliverance from<br>
                Joblessness, Madness, and Death</p>

            <p>My sisters and I are ardent followers of your teachings and have had our prayer lives enriched and our family transformed. We were led by the Holy Spirit to start a monthly prayer altar and we have been using the prayer points you share since November, 2015.</p>
            <p>Through the prayers, we had a sister redeemed from the grave last year, she had damaged her liver and the doctors had given up on her case, leaving her for dead but we prayed and the miracle-working God restored her. My sisters and I have enjoyed breakthroughs in employment that were due to nothing else but the grace of God. I got a job in August after 2 years of not working, one of my sisters got a job in a highly reputed audit firm immediately after her exams, before graduation. Another is relocating to Kenya this month for a big job in an international company. Yet another that the enemy had sat on for over 12 years has had her life restored this year, she's back to work, completely delivered from the spirit of madness. </p>
            <p>- Caroline</p>
        </div>

        <div class="testimonials-4">
            <p>Marriage restored -<br>
                feels like I just met my husband</p>

            <p>I was introduced to your site by a friend in 2014, initially I was not reading the emails when you send them to me. Until 2 years ago when I decided to join the prayer academy, then I started being serious in prayer and did the post marathon prayer. I was even storming the gates during the December month. Also joined the platinum prayers. </p>
            <p>But I did not see the results then, maybe because I did not have a target on my prayers but just believed than every hidden work of the enemy in my life will be dealt with as long as I'm strong and praying consistently. There were times where I'll skip midnight prayers for days, but I always persevered and soldiered on. Only until this year, I'm seeing the work of God in my life. I have so much peace in me and my family. My marriage has been restored and even feel like I just met my husband, we are so happy and we trust God in everything. Even when we face trials, we become strong in faith and He just solve our battles. I'm really grateful. To God be the glory.</p>
            <p>- KC (South Africa)</p>
        </div>

        <div class="testimonials-5">
            <p>Depressed and at the point of suicide...<br>
                then a knock on the door!</p>

            <p>I got to learn about you from my sister a few years back when I was going through marital problems.  She gave me a few prayers from the Prayer Cookbook for troubled relationships.  I had totally given up and was not even praying but immersed in deep depression and at the point of suicide.</p>
            <p>My husband had left home. I went on a 21 day fast with midnight prayers for the very first time in my life.  A week after completing the fast, there was a knock at the door and there was my husband back home with all his belongings and very apologetic.  This was just the beginning of the testimonies.</p>
            <p>I then lost my job. I was given a month's notice and told there was no work any more.  No retrenchment process was followed.  After serving the notice I prayed to God and took the matter to court.  I prayed amongst other prayers:</p>
            <p>'I claim the spirit of favor in my going out and coming in by the power in the blood of Jesus' 'I reject shame and reproach. I claim full term breakthroughs in the name of Jesus' 'Single me out for miraculous provision in the name of Jesus'</p>
            <p>I went to court and won the case and got a good pay out.  Praise the Lord.</p>
            <p>This was not the end.  Several months later after winning the case with the company, I was called back by the same company that I took to court to come and manage a project!  I shocked my enemies and surprised my friends.  People were asking me how did I manage to do this?  I told them that God did it and He can do it for anyone.</p>
            <p>- Ruby R</p>

        </div>

    </div>
</template>

<script>
    export default {
        name: "compo_10"
    }
</script>

<style lang="scss" scoped>
    .testimonials-1,.testimonials-2,
    .testimonials-3,.testimonials-4,
    .testimonials-5{
        border: 1px solid #000;
        padding: 15px;
        font-style: italic;
        margin-bottom: 20px;

        p:nth-child(1){
            text-align: center;
            font-weight: bold;
        }
    }
</style>