<template>
    <div class="order-section">

        <!--SPACE FOR MORE SALES COPY-->
        <p><em>(SPACE FOR SALES COPY HERE)</em></p>
        <p><em>(SPACE FOR SALES COPY HERE)</em></p>
        <p><em>(SPACE FOR SALES COPY HERE)</em></p>

        <p class="intro">When you order today, I will send you a special unadvertised Bonus as my way of saying “thank you”.</p>
        <p class="sub-intro">To recap, here’s what you get:</p>


        <img class="banner" src="../assets/img/allbooks.jpg"/>


        <table class="order-table">
            <thead>
            <tr>
                <th>PREMIUM 10-Piece Kit</th>
                <th>Complete 9-Piece Kit</th>
                <th>Basic Toolkit</th>
            </tr>
            </thead>

            <tbody>
            <!--1st col-->
            <tr>
                <td><span class="highlight-text-yellow">Printed Book-</span> Prayer of Caleb -
                    <span class="highlight-text-light">incl. 201 prayer points - ($47 value)</span></td>
                <td><span class="highlight-text-yellow">Printed Book-</span> Prayer of Caleb -
                    <span class="highlight-text-light">incl. 201 prayer points - ($47 value)</span></td>
                <td><span class="highlight-text-yellow">Printed Book-</span> Prayer of Caleb -
                    <span class="highlight-text-light">incl. 201 prayer points - ($47 value)</span></td>
            </tr>
            <tr>
                <td><span class="highlight-text-yellow">eBooks & Special Report (6)</span>
                    <p>1. Special Report
                        - Spiritual Vampires</p>
                    <p>2. Dream  CODE  points</p>
                    <p>3. Prayer DNA Secrets"-- (with 659 prayers)</p>
                    <p>4. "Prayer Cookbook"
                        --  ($39.95 value)</p>
                    <p>5. #1 Secret for Getting
                        Out of Debt</p>
                    (incl. 101 prayer pts)
                    <p>6. Rainmaker's 2-in-1
                        Prayer Manual</p>
                </td>
                <td><span class="highlight-text-yellow">eBooks & Special Report (5)</span>
                    <p>1. Special Report
                        - Spiritual Vampires</p>
                    <p>2. "Dream CODE"
                        - 111 prayer points</p>
                    <p>3.Prayer DNA Secrets
                        - (with 659 prayers)</p>
                    <p>4. "Prayer Cookbook"
                        - ($39.95 value)</p>
                    <p>5. #1 Secret for
                        Getting Out of
                        Debt (incl 101
                        prayers)</p></td>
                <td><span class="highlight-text-yellow">eBooks & Special Reports (3)</span>
                    <p>1. Special Report- Spiritual Vampires</p>
                    <p>2. "Dream CODE"
                        - 111 prayer bullets</p>
                    <p>3.Prayer DNA Secrets
                        - 659 prayers</p></td>
            </tr>
            <tr>
                <td><span class="highlight-text-yellow">Prayer Coaching</span>
                    <div class="one-on-one">
                    <p>1. One-on-one session by email (after the program)</p>

                    <p>2.  Specially Customized Prayer Bullets - As Needed</p>

                    <p>3. Access to Members Forum
                        (Unlimited)</p></div>

                </td>
                <td><span class="highlight-text-yellow">Prayer Coaching</span>
                    <p>1. Specially Customized Prayer Points – After Program</p>

                    <p>2. Access to Forum</p></td>
                <td><span class="highlight-text-yellow">Prayer Coaching</span>
                    <p>1. Customized Prayer Points – After Program</p>  </td>
            </tr>
            <tr>
                <td><p class="price">USD $147</p></td>
                <td><p class="price">USD $107</p></td>
                <td><p class="price">USD $79</p></td>
            </tr>
            <tr>
                <td><a href="https://ssl.clickbank.net/order/orderform.html?time=1544932702&vvvv=656c6973686167&item=13&vvar=membership_level_id%3D10%26I1.x%3D91%26I1.y%3D21&oaref=01.2F6319DB9FDF034611054395C808A471FC6FA8D5B5696C525212F65ED8815D9DCA624AF8AC2CA611EDCBF55CB781BE26CA9C4C49&corid=0fb991a7-e1a6-4dfa-ba4e-bf360f60fb09" target="_blank" ><img class="atc" src="../assets/img/prayer-book-order.jpg"/></a></td>
                <td><a href="https://ssl.clickbank.net/order/orderform.html?time=1544932728&vvvv=656c6973686167&item=7&vvar=membership_level_id0%3D10%26I2.x%3D84%26I2.y%3D15&oaref=01.2F6319DB9FDF034611054395C808A471FC6FA8D5B5696C525212F65ED8815D9DCA624AF8AC2CA611EDCBF55CB781BE26CA9C4C49&corid=9770c910-3011-46ac-b5fe-fe6a27a83eff" target="_blank"><img class="atc" src="../assets/img/prayer-book-order.jpg"/></a></td>
                <td><a href="https://ssl.clickbank.net/order/orderform.html?time=1544932737&vvvv=656c6973686167&item=8&vvar=I3.x%3D83%26I3.y%3D15%26membership_level_id1%3D9&oaref=01.2F6319DB9FDF034611054395C808A471FC6FA8D5B5696C525212F65ED8815D9DCA624AF8AC2CA611EDCBF55CB781BE26CA9C4C49&corid=ed879d74-f93a-435a-a150-2714b51e0e75" target="_blank" ><img class="atc" src="../assets/img/prayer-book-order.jpg"/></a></td>
            </tr>

            </tbody>
        </table>



        <!--SPACE FOR MORE SALES COPY-->


    </div>
</template>

<script>
    export default {
        name: "compo_11"
    }
</script>

<style lang="scss" scoped>

    .order-section{
        margin-top: 50px;
        text-align: center;
        .banner{
            width: 300px;

            /*mobile*/
            @media only screen and (min-width: 320px) and (max-width: 479px) {
                width: 100%;
            }
        }
    }
    .intro, .sub-intro{
        font-size: 20px;
    }

    .order-table{

        td, th{
            color: #000;
            vertical-align: top;
        }

        .one-on-one{
            color: red;
            font-weight: bold;
            font-size: 18px;
        }

        span.highlight-text-yellow{
            background: #ffeb3b;
            padding: 5px;
        }
        span.highlight-text-light{
            background: #eceff1;
        }

        .price{
            font-weight: bold;
            font-size: 18px;
            margin: 0;
        }

        .atc{
            width: 100%;
        }

    }


</style>