<template>
    <div class="last-compo">

        <!--SPACE FOR MORE SALES COPY-->
        <p><em>(SPACE FOR SALES COPY HERE)</em></p>
        <p><em>(SPACE FOR SALES COPY HERE)</em></p>
        <p><em>(SPACE FOR SALES COPY HERE)</em></p>


        <p><b>... and expect to receive answers to your prayers…</b> sometimes while you’re yet speaking.</p>
        <p><b>... your future will be full of hope, joy, and great blessings.</b> </p>
        <br>
        <div class="bible-msg">
            <p>For the Bible says:</p>
            <p class="center">For surely there is a future hope;<br>
                and your expectation shall not be cut off<br>
                - Prov. 23:18</p>
        </div>

        <div class="p-s">
            <p>Be An Overcomer</p>

            <p>elisha</p>

            <p><b>P.S.</b> <span class="ps">Think about what it means for you to become your own personal</span>
            prophet… you become fearless, ... able to pray and prophesy powerful
                breakthroughs into your life and that of your loved ones.</p>

            <p class="cta"><a href="http://www.firesprings.com/order07.htm">YES, Please Give Me Access To The Forum</a></p>
        </div>

    </div>
</template>

<script>
    export default {
        name: "compo_12"
    }
</script>

<style lang="scss" scoped>
    .last-compo{
        padding-bottom: 10px;
        margin-bottom: 20px;

        p{
            font-size: 20px;
        }

        .bible-msg{
            font-style: italic;
            padding-bottom: 20px;
        }

        .ps{
            background: #ffeb3b;
            padding: 5px;

        }

        .p-s{
            .cta{
                text-align: center;
                a{
                    color: blue;
                    text-decoration: underline;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
    }
</style>